@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Gruppo';
}

header {
    background-image: linear-gradient(to right,#000000,#797979);
    display: flex;
    justify-content: space-between;
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    height: 7rem;
}

header figure {
    align-items: self-start;
    display:flex;
    position: fixed;
}

header aside figure{
    align-items: self-end;
    display:flex;
    position: fixed;
}

main{
    background-image: url(./img/image\ 5.png);
    background-repeat: no-repeat;
}

main section img{
    margin: 2rem;
    border: 0.5rem outset rgb(72, 78, 72);
    border-radius: 0.5rem;

}
main.menu{
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem;
    align-content: baseline;
    padding: 0.5rem;
    }

main.menu section {
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 10rem;

}

main.menu section aside {
    display: flex;
}

main.menu section aside p {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

body{

    background-image: radial-gradient(#85C829,#000000);
    background-repeat: no-repeat;
}
footer {
    background-image: linear-gradient(to right,#000000,#797979);
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Gruppo" , sans-serif;
    color: rgb(253, 253, 252);
    font-size: small;
}

footer article{
    justify-content: space-between;
}
main{
    display: flex;
    
    
}
